.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* page transitions */
.fadeslow-enter-active,
.fadeslow-leave-active {
  transition: opacity 1000ms ease;
}

.fadeslow-enter,
.fadeslow-leave-to {
  opacity: 0;
}

.fadeslower-enter-active,
.fadeslower-leave-active {
  transition: opacity 150ms ease;
}

.fadeslower-enter,
.fadeslower-leave-to {
  opacity: 0;
}

.ripples {
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.ripples.disable {
  transition: none;
}

.ripples g {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.rounded-full .ripples {
  border-radius: 9999px;
}
