.multiselect__content-wrapper {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 8px rgba(0, 0, 0, 0.12);

  @apply border-0 rounded-t-none rounded-b;
}

.multiselect {
  border-color: inherit;
}

.multiselect__tags {
  border-color: inherit;

  @apply rounded px-4;

  font-size: 12px;
  line-height: 16px;
  min-height: 50px;
}

.multiselect__select {
  display: none;
  height: 48px;
  z-index: 1;
}

.multiselect__input,
.multiselect__single {
  margin-bottom: 0;

  @apply text-base leading-7 px-0;

  padding-top: 2px;
}

.multiselect__tag {
  @apply bg-white border rounded-full text-black pr-8 py-2;

  border-color: rgba(0, 0, 0, 0.12);
}

.multiselect__tag-icon {
  height: 22px;
  display: block;
  margin-top: 3px;
  margin-right: 4px;
  transition: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.38);

  &::after {
    @apply text-white;
  }
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  @apply bg-white rounded-full text-black;

  background: rgba(0, 0, 0, 0.38);
  transition: none;
}

.multiselect__tag-icon:focus::after,
.multiselect__tag-icon:hover::after {
  @apply text-white;

  transition: none;
}

.multiselect__option--highlight {
  @apply bg-secondary-012;
  @apply text-black;
}

.multiselect--material-label {
  font-size: inherit;
  transform: translateY(-0.7rem) translateX(0.75rem) scale(0.75);
  transform-origin: left;
  will-change: transform opacity;
  color: inherit;
  padding: 0 5px;

  @apply inline-block z-100 relative bg-inherit rounded-full;
}

.multiselect__input {
  width: auto !important;
  max-width: 150px;
  background: none;
  padding-top: 2px !important;
}

.multiselect__placeholder {
  display: none;
}

.is-query-empty {
  .multiselect__content-wrapper {
    display: none;
  }
}
